@headerHeight: 32px;
@weekDaysHeight: 20px;
@menuWidth: 219px;

#calendar {

	.date {
		font-size: 0;
		white-space: nowrap;
		border-bottom: 1px solid @borderColor;
		text-align: center;

		.prev-month-icon {
			.icon16("../img/batch/16x16/previous.png");
			cursor:pointer;
		}
		.next-month-icon {
			.icon16("../img/batch/16x16/next.png");
			cursor:pointer;
		}

		.title-container {
			padding: 0 10px;
			width: 180px;
			text-align: center;

			.calendar-icon {
				.icon16("../img/batch/16x16/calendar.png");
			}

			.title {
				font-size: 14px;
				font-weight: bold;
				margin-right: 5px;
			}
		}

		span {
			display: inline-block;
			vertical-align: top;
			line-height: @headerHeight;
			height: @headerHeight;
		}
	}

	.month {

		.week {

			.day {
				font-size: 13px;
				border-color: @borderColor;
				border-style: solid;
				.transition(background-color 0.2s ease);
				padding: 5px;

				&:hover {
					background-color: #cce6ff;
					.transition(background-color 0.3s ease);
				}

				.numDay {
					display: inline-block;
					padding: 0 5px 5px 0;
					vertical-align: top;
				}

				.item {
					display: inline-block;
					background-color: @blueColor;
					border: 1px solid @borderColor;
					padding: 0 2px 0 0;
					line-height: 18px;
					white-space: nowrap;
					vertical-align: top;
					margin-bottom: 5px;
					margin-right: 5px;
					color: white;
					border: 1px solid #1E728C;
					.border-radius(3px);
					.box-shadow(0 1px 0 rgba(255, 255, 255, 0.5) inset);
					font-size: 0;

					.icon, .project-label, .hours {
						display: inline-block;
						vertical-align: top;
					}

					.icon {
						background-position: center center;
						background-repeat: no-repeat;
						background-image: url("../img/batch/16x16/arrow-right-white.png");
						width: 20px;
						height: 20px;
						.transition(background-image 0.5 ease);
						cursor: pointer;
					}

					.project-label {
						font-weight: bold;
						padding: 0 2px 0 2px;
						font-size: 13px;
						line-height: 20px;
					}

					.hours {
						font-size: 10px;
						padding: 0 2px 0 4px;
					}

					.claquos-1{
						.claquos(1);
					}
					.claquos-2{
						.claquos(2);
					}
					.claquos-3{
						.claquos(3);
					}
					.claquos-4{
						.claquos(4);
					}
					.claquos-5{
						.claquos(5);
					}
					.claquos-6{
						.claquos(6);
					}
					.claquos-7{
						.claquos(7);
					}
					.claquos-8{
						.claquos(8);
					}

					&:hover {

						.icon {
							background-image: url("../img/batch/16x16/delete-white.png");
						}
					}
				}
			}

			.dayInHover {
				background-color: #AEBDCC !important;
				border-style: dashed;
			}

			.today {
				background-color: #ccff99;
			}
		}
	}
}

#menu {

	width: @menuWidth;
	.options {
		white-space: nowrap;
		font-size: 0;
		border-bottom: 1px solid @borderColor;
		text-align: right;
		overflow: hidden;

		.options-icon {
			.icon16("../img/batch/16x16/settings-3.png");
			height: @headerHeight;
		}

		.options-radio {

			ul {
				padding-top: 12px;
			}

			span {
				line-height: @headerHeight;
				font-size: 12px;
				padding: 0 2px 0 5px;
			}

			input[type=radio] {
				padding: 0;
				margin: 0;
				vertical-align: middle;
				margin-bottom: 1px;
			}
		}

		span {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.search {
		white-space: nowrap;
		font-size: 0;
		border-bottom: 1px solid @borderColor;
		text-align: center;
		overflow: hidden;

		.search-span, .search-icon {
			display: inline-block;
			vertical-align: middle;
			margin: 12px 0;
		}

		input {
			width: 165px;
			margin: 0;
			font-size: 13px;
			height: 25px;
			border-right: none;
			.border-radius(2px 0 0 2px);
			.box-shadow(none);
		}

		input:focus {
			background-color: white;
			border-color: #ccc;
		}

		.search-icon {
			.icon16("../img/batch/16x16/search.png");
			background-color: @backgroundColor;
			height: 25px;
			width: 28px;
			margin: 0;
			border: 1px solid #ccc;
			.border-radius(0 2px 2px 0);
		}
	}

	.accordion {

		.title {

			h5 {
				white-space: nowrap;
				text-overflow: ellipsis;
				width: auto;
				overflow: hidden;
				padding-right: 8px;
			}

		}
		.content {
			padding-top: 0;
			padding: 0 !important;

			.project {
				position: relative;
				border-style: solid;
				border-color: @borderColor;
				border-width: 1px 0 0 0;
				height: 30px;
				line-height: 30px;
				font-size: 11px;
				padding: 0 6px 0 30px;
				cursor: move;

				&:hover {
					background-color: #cce6ff;
				}

                &.true {
                  background-color: #F7F8E0;
                }

				.icon {
					position: absolute;
					top: 0;
					left: 0;
					display: inline-block;
					height: 30px;
					.icon16("../img/batch/16x16/in.png");
				}

				.input {
					position: absolute;
					display: inline-block;
					top: 0;
					right: 0;
					background-color: transparent;
					border-style: solid;
					border-width: 0 0 0 1px;
					border-color: @borderColor;
					padding-left: 10px;
					outline: none;
					width: 30px;
					height: 30px;
					margin: 0;
					font-weight: bold;
					.box-shadow(none);
				}
			}

			.dragged {
				background-color: #cce6ff;
			}
		}
	}
}

@media (max-width: @mediaQueryMax) {

	#menu {
		width: 100%;

		.options {
			width: 100%;
			text-align: center;
			.options-icon {
				display: none;
			}
			.button {
				font-size: 14px;
				padding: 10px 20px 11px;
			}
		}

		.search-span {
			width: 100%;
			padding: 8px 0;
			input {
				.border-radius(5px);
				border: 1px solid #CCC;
				width: 90%;
				margin: auto;
				height: 34px;
				font-size: 19px;
				line-height: 21px;
			}
			.search-icon {
				display: none;
			}
		}
	}

	#calendar {

		.weekdays {
			display: none;
		}

		.month {

			.week {

				.day {
					border-width: 1px 1px 0 1px;
					min-height: 80px;
					background-color: white;
					border-style: solid;
				}

				.dayInHover {
					background-color: #AEBDCC;
					border-style: dashed;
				}

				.empty {
					display: none;
				}

				&:last-child {
					border-bottom: 1px solid black;
				}
			}
		}
	}
}

@media (min-width: @mediaQueryMin) {

	body {
		overflow: hidden;
	}

	#menu {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 80%;

		.accordion {

			.title, .content {
				border-right: none !important;
			}
		}
	}

	#calendar {
		position: absolute;
		top: 0;
		bottom: 0;
		left: @menuWidth;
		right: 0;
		border-left: 1px solid @borderColor;

		.weekdays {
			white-space: nowrap;
			font-size: 0;

			.weekday {
				display: inline-block;
				width: 20%;
				line-height: @weekDaysHeight;

				span {
					font-size: 13px;
					padding-left: 5px;
				}
			}
		}

		.month {
			position: inherit;
			top: @weekDaysHeight + @headerHeight;
			bottom: 0;
			left: 0;
			right: 0;

			.week {
				position: inherit;
				left: 0;
				right: 0;

				.day {
					position: inherit;
					top: 0;
					bottom: 0;
					padding: 5px;
					border-width: 1px 0 0 1px;
					overflow: hidden;

					&:first-child {
						border-left: none;
					}
				}

				.empty {
					background-color: @backgroundColor;

					&:hover {
						background-color: @backgroundColor !important;
					}
				}

				.monday {
					left: 0;
					right: 80%;
				}

				.tuesday {
					left: 20%;
					right: 60%;
				}

				.wednesday {
					left: 40%;
					right: 40%;
				}

				.thursday {
					left: 60%;
					right: 20%;
				}

				.friday {
					left: 80%;
					right: 0;
				}
			}
		}
	}
}