
@import "3l";
@import "calendar";

.user-select(@value) {
	-webkit-touch-callout: @value;
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}

@borderColor: #e9e9e9;
@mediaQueryMin: 641px;
@mediaQueryMax: 640px;

body {
	position: static !important;
	width: 100%;
	height: 100%;
	.user-select(none);
	font-size: 0;
	cursor: default;
	.transition(opacity 1s ease);
}

.fade-in {
	.transition(opacity 1s ease);
}

@media (min-width: @mediaQueryMin) {

	#mainContainer {
		position: absolute;
		top: 45px;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.ie {
	padding: 32px;

	div {
		padding-bottom: 16px;
	}
}