
@import "3l";
@import "calendar";
@import "projects";

.user-select(@value) {
	-webkit-touch-callout: @value;
	-webkit-user-select: @value;
	-khtml-user-select: @value;
	-moz-user-select: @value;
	-ms-user-select: @value;
	user-select: @value;
}
.icon16(@url){
	background-image: url(@url);
	background-position: center center;
	background-repeat: no-repeat;
	width: 16px;
	margin: 0 5px;
	.opacity(0.8);
}

.claquos(@index:0){
	background-image: url("../img/spinner-white.png");
	width: 16px;
	.transition(background-image 0.5 ease);
	height: 15px;
	margin-top: 3px;
	margin-left: 7px;
	@posy: -((@index - 1)*15);
	background-position-y:~"@{posy}px";
}

@borderColor: #e9e9e9;
@backgroundColor: #F6F6F6;
@mediaQueryMin: 641px;
@mediaQueryMax: 640px;
@blueColor: #2BA6CB;

body {
	position: static !important;
	width: 100%;
	height: 100%;
	.user-select(none);
	font-size: 0;
	cursor: default;
	.transition(opacity 1s ease);
}

.fade-in {
	.transition(opacity 1s ease);
}

@media (min-width: @mediaQueryMin) {

	#mainContainer {
		position: absolute;
		top: 45px;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.ie {
	padding: 32px;

	div {
		padding-bottom: 16px;
	}
}