<div id="menu" ng-controller="MenuController">
	<div class="options">
		<span class="options-radio">
			<span ng-click="changeTargetType($event)" data-value="day">day</span>
			<input type="radio" ng-model="targetType" value="day"/>
			<span ng-click="changeTargetType($event)" data-value="week">week</span>
			<input type="radio" ng-model="targetType" value="week"/>
			<span ng-click="changeTargetType($event)" data-value="month">month</span>
			<input type="radio" ng-model="targetType" value="month"/>
		</span>
		<span class="options-icon"></span>
	</div>
	<ul class="accordion">
		<li class="active">
			<div class="title">
				<h5>Projects</h5>
			</div>
			<div class="content">Some content...</div>
		</li>
		<li>
			<div class="title">
				<h5>Holidays/Off</h5>
			</div>
			<div class="content">Some content...</div>
		</li>
		<li>
			<div class="title">
				<h5>Training/Conference</h5>
			</div>
			<div class="content">Some content...</div>
		</li>
	</ul>
</div>
<div id="calendar" ng-controller="CalendarController">
	<div class="date">
		<span class="calendar-icon"></span>
		<span class="title">EMV Timesheet - {{selectedMonth}}</span>
	</div>
	<div class="weekdays">
		<div class="weekday"><span>Monday</span></div>
		<div class="weekday"><span>Tuesday</span></div>
		<div class="weekday"><span>Wednesday</span></div>
		<div class="weekday"><span>Thursday</span></div>
		<div class="weekday"><span>Friday</span></div>
	</div>
	<div class="month">
		<div ng-repeat="week in weeks" class="week" style="top:{{week.top}}%; bottom:{{week.bottom}}%;">
			<div ng-repeat="day in week.days" class="day {{day.class}}"><span>{{day.text}}</span></div>
		</div>
	</div>
</div>