<div id="menu" ng-controller="MenuController">
	<div class="options">
		<span class="options-radio">
            <ul class="button-group radius">
                <li ng-switch on="targetType" >
                    <a ng-switch-when="day" href="#" class="button small radius" ng-click="changeTargetType($event)" data-value="day">day</a>
                    <a ng-switch-default="day" href="#" class="button secondary small radius" ng-click="changeTargetType($event)" data-value="day">day</a>                </li>
                <li ng-switch on="targetType" >
                    <a ng-switch-when="week" href="#" class="button small radius" ng-click="changeTargetType($event)" data-value="week">week</a>
                    <a ng-switch-default="day" href="#" class="button secondary small radius" ng-click="changeTargetType($event)" data-value="week">week</a>
                </li>
                <li ng-switch on="targetType" >
                    <a ng-switch-when="month" href="#" class="button small radius" ng-click="changeTargetType($event)" data-value="month">month</a>
                    <a ng-switch-default="day" href="#" class="button secondary small radius" ng-click="changeTargetType($event)" data-value="month">month</a>
                </li>
            </ul>
		</span>
		<span class="options-icon"></span>
	</div>
    <div class="search">
        <span class="search-span">
            <input type="text" placeholder="search" ng-model="search" ng-change="searchChange()"/>
        </span>
        <span class="search-icon"></span>
    </div>
	<ul class="accordion">
		<li class="active" >
			<div class="title">
				<h5>Projects</h5>
			</div>
			<div class="content" ng-click="noEvent($event)" >
                <project>
                </project>
            </div>
		</li>
		<li>
			<div class="title">
				<h5>Holidays/Off</h5>
			</div>
			<div class="content">Some content...</div>
		</li>
		<li>
			<div class="title">
				<h5>Training/Conference</h5>
			</div>
			<div class="content">Some content...</div>
		</li>
	</ul>
</div>
<div id="calendar" ng-controller="CalendarController">
	<div class="date">
        <span ng-click="prevMonth()" class="prev-month-icon"></span>
        <span class="title-container">
			<span class="calendar-icon"></span>
			<span class="title">{{selectedMonth}}</span>
        </span>
        <span ng-click="nextMonth()" class="next-month-icon"></span>
	</div>
	<div class="weekdays">
		<div class="weekday"><span>Monday</span></div>
		<div class="weekday"><span>Tuesday</span></div>
		<div class="weekday"><span>Wednesday</span></div>
		<div class="weekday"><span>Thursday</span></div>
		<div class="weekday"><span>Friday</span></div>
	</div>
	<div class="month">
		<div ng-repeat="week in weeks" class="week" style="top:{{week.top}}%; bottom:{{week.bottom}}%;">
			<div drag-over ng-repeat="day in week.days" class="day {{day.class}}"><span>{{day.text}}</span></div>
		</div>
	</div>
</div>